body {
    text-align: center;
}

#r1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 15px;
}

#card {
    width: 400px;
    border: 2px solid black;
    height: 350px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:15px;
}